@import 'global.scss';






@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
    url("../fonts/Inter-UI-Regular.woff") format("woff"),
    url("../fonts/Inter-UI-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
    url("../fonts/Inter-UI-Medium.woff") format("woff"),
    url("../fonts/Inter-UI-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
    url("../fonts/Inter-UI-Bold.woff") format("woff"),
    url("../fonts/Inter-UI-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
/*
@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/lineto-circular-pro-medium.ttf") format("truetype");
}
*/




*{
  box-sizing: border-box;
}
html{
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;

  @include md{
    font-size: 16px;
    line-height: 26px;
  }
  @include lg{
    font-size: 18px;
    line-height: 30px;
  }
}

body {
  width: 100%;
  margin: 0;
  background: $mainBg;
  color: $mainColor;
  overflow-x: hidden;
  font-family: 'InterUI', sans-serif;

  #app{
    .content{
      position: relative;
      min-width: 300px;
      width: 100%;
      max-width: $break-large;
      margin: 0 auto;

      &.inner-content,
      .inner-content{
        padding-left: 1em;
        padding-right: 14%;
        @media (min-width: 340px){
          padding-left: 2em;
        }
        @include sm{
          padding-right: 12%;
          padding-left: $lg-padding;
        }
        @include lg{
          padding-left: $lg-padding;
          padding-right: $lg-padding;
        }
      }
    }
  } // End of #app

  /* global classes */
  .show-desktop{
    display: none;
    visibility: hidden;
    @include lg{
      display: inline-block;
      visibility: visible;
    }
  }
  .link-btn{
    font-size: .9em;
    line-height: .9em;
    border: 1px solid $lightGreen;
    color: $lightGreen;
    border-radius: 10px;
    padding: .75em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1em;
    margin-bottom: 1.5em;
    &:hover, &:focus, &:active{
      background: $lightGreen;
      color: $mainBg;
    }
    @include smmd {
      font-size: .85em;
      line-height: .85em;
    }
    &[disabled]{
      opacity: .6;
      pointer-events: none;
      user-select: none;
    }
  }
  .transition-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .site-message{
      width: 100%;
      height: auto;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      padding: $main-topBotPad 0;

        h1{
          font-family: 'InterUI', sans-serif;
          font-weight: 700;
          font-size: $sm-header-fontSize;
          line-height: 1;
          margin-top: 0;
        }
  }


/*---------------< Loading spinner >----------------*/
    $loadingDuration: .73;
    $loadingOffset1: 0s;
    $loadingOffset2: $loadingDuration*.125s;
    $loadingOffset3: $loadingDuration*.225s;
    $loadingOffset4: $loadingDuration*.375s;
    $loadingColor1: $darkestGreen;
    $loadingColor2: $darkGreen;
    $loadingColor3: $mediumGreen;
    $loadingColor4: $lightGreen;
    @keyframes spin{
      0% {
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
    @keyframes size{
      0% {
        opacity: 0;
        transform: translateX(18%) scale(0.22);
      }
      20% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        transform: translateX(18%) scale(0.25);
      }
      100% {
        opacity: 0;
        transform: translateX(18%) scale(0.1);
      }
    }
    .loading{
      position: fixed;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      z-index: 999;
      background: #fff;
      .spinner-container{
      .spinner{
        overflow: unset;
        width: 140px;
        height: 140px;

        &>span{
          position: absolute;
          display: inline-block;
          animation-name: spin;
          opacity: .6;

          &>span{
            display: inline-block;
            transform: translateX(33%) scale(.33);
            animation-name: size;
            transform-origin: 50% 50%;
            border-radius: 50%;
            animation-duration: $loadingDuration*1s;
            animation-timing-function: cubic-bezier(.15,.6,.93,.5);
            animation-iteration-count: infinite;
            background-color: transparent;
            opacity: 0;
          }
          &>span.circle{
            border-radius: 100%;
          }
          &>span.polygon{
            width: 0;
            height: 0;
            border-left: 70px solid transparent;
            border-right: 70px solid transparent;
            border-bottom: 140px solid transparent;
          }
          &:nth-child(1)>span.circle{
            background-color: $loadingColor1;
          }
          &:nth-child(1)>span.polygon{
            border-bottom-color: $loadingColor1;
          }
          &:nth-child(2)>span.circle{
            background-color: $loadingColor2;
          }
          &:nth-child(2)>span.polygon{
            border-bottom-color: $loadingColor2;
          }
          &:nth-child(3)>span.circle{
            background-color: $loadingColor3;
          }
          &:nth-child(3)>span.polygon{
            border-bottom-color: $loadingColor3;
          }
          &:nth-child(4)>span.circle{
            background-color: $loadingColor4;
          }
          &:nth-child(4)>span.polygon{
            border-bottom-color: $loadingColor4;
          }
        }
        &>span,
        &>span>span{
          transform-origin: 50% 50%;
          animation-duration: $loadingDuration*1s;
          animation-timing-function: cubic-bezier(.15,.6,.93,.5);
          animation-iteration-count: infinite;
        }
        &>span:nth-child(1),
        &>span:nth-child(1)>span{
          animation-delay: $loadingOffset1;
        }
        &>span:nth-child(2),
        &>span:nth-child(2)>span{
          animation-delay: $loadingOffset2;
        }
        &>span:nth-child(3),
        &>span:nth-child(3)>span{
          animation-delay: $loadingOffset3;
        }
        &>span:nth-child(4),
        &>span:nth-child(4)>span{
          animation-delay: $loadingOffset4;
        }
      }
      }
    }




}/* end of body */
