@import 'global.scss';

@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
    url("../fonts/Inter-UI-Regular.woff") format("woff"),
    url("../fonts/Inter-UI-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
    url("../fonts/Inter-UI-Medium.woff") format("woff"),
    url("../fonts/Inter-UI-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
    url("../fonts/Inter-UI-Bold.woff") format("woff"),
    url("../fonts/Inter-UI-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}







*{
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  background: #FFE5E5;

  @media (min-width: 720px){
    font-size: 16px;
    line-height: 26px;
  }
  @media (min-width: 992px){
    font-size: 18px;
    line-height: 30px;
  }
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #717C89;

  #app{
    width: 100%;
    height: 100%;
    .main{
      padding: 100vh 8% 3em 8%;


    }/* end of main */
  }/* end of app */
}/* end of body */
