@import 'global.scss';



@font-face {
  font-family: "Eksell Display";
  src: url("../fonts/EksellDisplay-Medium.woff") format("woff");
}


@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
    url("../fonts/Inter-UI-Regular.woff") format("woff"),
    url("../fonts/Inter-UI-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
    url("../fonts/Inter-UI-Medium.woff") format("woff"),
    url("../fonts/Inter-UI-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
    url("../fonts/Inter-UI-Bold.woff") format("woff"),
    url("../fonts/Inter-UI-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/lineto-circular-pro-medium.ttf") format("truetype");
}






*{
  box-sizing: border-box;
}
html{
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;

  @include md{
    font-size: 16px;
    line-height: 26px;
  }
  @include lg{
    font-size: 18px;
    line-height: 30px;
  }
}
body {
  width: 100%;
  margin: 0;
  background: #FFF;
  color: #423A2F;
  overflow-x: hidden;
  font-family: 'InterUI', sans-serif;

  .content, .footer_content{
    max-width: $break-large;
    margin: 0 8%;
    z-index: 0;

    @include xl{
      margin: 0 auto 0 auto;
    }
  }

  /* #loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .transition_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  @keyframes spin{
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  @keyframes size{
    0% {
      opacity: 0;
      transform: translateX(18%) scale(0.22);
    }
    20% {
      opacity: 1;
    }
    90% {
      opacity: 1;
      transform: translateX(18%) scale(0.25);
    }
    100% {
      opacity: 0;
      transform: translateX(18%) scale(0.1);
    }
  }

    .loading{
      position: fixed;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      z-index: 99;
      background: #fff;

      .spinner{
        overflow: unset;
        width: 8vw;
        height: 8vw;
        &>span{
          position: absolute;
          display: inline-block;
          animation-name: spin;
          &>span{
            width: 12vw;
            height: 12vw;
            display: inline-block;
            transform: translateX(33%) scale(.33);
            animation-name: size;
            transform-origin: 50% 50%;
            animation-duration: 2s;
            animation-timing-function: cubic-bezier(.15,.6,.93,.5);
            animation-iteration-count: infinite;
            background-color: transparent;
            opacity: 0;
          }
          &>span.circle{
            border-radius: 100%;
          }
          &>span.polygon{
            width: 0;
            height: 0;
            border-left: 4vw solid transparent;
            border-right: 4vw solid transparent;
            border-bottom: 8vw solid transparent;
          }
          &:nth-child(1)>span.circle{
            background-color: #E3A9AB;
          }
          &:nth-child(1)>span.polygon{
            border-bottom-color: #E3A9AB;
          }
          &:nth-child(2)>span.circle{
            background-color: #7CE8CE;
          }
          &:nth-child(2)>span.polygon{
            border-bottom-color: #7CE8CE;
          }
          &:nth-child(3)>span.circle{
            background-color: #E8C3B1;
          }
          &:nth-child(3)>span.polygon{
            border-bottom-color: #E8C3B1;
          }
          &:nth-child(4)>span.circle{
            background-color: #A2E3E8;
          }
          &:nth-child(4)>span.polygon{
            border-bottom-color: #A2E3E8;
          }
        }
        &>span,
        &>span>span{
          transform-origin: 50% 50%;
          animation-duration: 2s;
          animation-timing-function: cubic-bezier(.15,.6,.93,.5);
          animation-iteration-count: infinite;
        }
        &>span:nth-child(1),
        &>span:nth-child(1)>span{
          animation-delay: 0s;
        }
        &>span:nth-child(2),
        &>span:nth-child(2)>span{
          animation-delay: .25s;
        }
        &>span:nth-child(3),
        &>span:nth-child(3)>span{
          animation-delay: .45s;
        }
        &>span:nth-child(4),
        &>span:nth-child(4)>span{
          animation-delay: .75s;
        }
      }
    }


  /* global classes */
  /* .inner_content{
    width: 60%;
    margin: 0 auto;
  } */

  /* end of app */
}/* end of body */
