/*

    Global SCSS Vars

*/


// https://coolors.co/7edad4-ff9393-ffec94-f9fff9-63676c

$primary-gray: #63676C;
$primary-white: #F9FFF9;
$primary-red: #FF9393;
$primary-blue: #7EDAD4;
$primary-yellow: #FFEC94;

$break-small: 480px;
$break-medium: 720px;
$break-large: 1200px;
