/*

    Global SCSS Vars

*/

$break-small: 500px;
$break-smallMed: 800px;
$break-medium: 1000px;
$break-large: 1200px;
$break-xl: 1600px;

@mixin sm{
  @media (min-width: #{$break-small}){
    @content;
  }
}
@mixin smmd{
  @media (min-width: #{$break-smallMed}){
    @content;
  }
}
@mixin md{
  @media (min-width: #{$break-medium}){
    @content;
  }
}
@mixin lg{
  @media (min-width: #{$break-large}){
     @content;
  }
}
@mixin xl{
  @media (min-width: #{$break-xl}){
     @content;
  }
}


/**
 * New Colors
 */
$white: #FFFFFF;
$black: #282A2A;
$blue: #586BA4;
$lightBlue: #94A0C5;

// Main Palette must be in sync with colors.js
$mainBg: #FFF;
/* $mainColor: #514943; */
$mainColor: rgba(66, 58, 47, 0.8);
$darkestGreen: #2F3E46;
$darkGreen: #354F52;
$mediumGreen: #52796F;
$lightGreen: #84A98C;
$offWhite: #CAD2C5;

$mainColorLight: rgba(66, 58, 47, 0.65);

// variations of main palette
$lightOffWhite: #F0F2EF;
$lightOffGreen: #DDE7DF;
$offDarkGreen: #475F61;
$hoverGreen: #89999A;

$sm-header-fontSize: 2.25em;
$lg-padding: 3em;
// carousel template vars
$carousel-width: $break-large/2;
$main-topBotPad: 5em;
$main-height: calc(100vh - #{$main-topBotPad*2});
$main-maxHeight: calc(#{$break-large} - #{$main-topBotPad*2});
